*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111;
    background: #fff;
}

.container{
    width: 95%;
    height: 150vh;
    margin: 0 auto;
    position: relative;
    background: #fff;
    border: 10px double #000;
}
/***********************************/
/*              Image              */
/***********************************/

.image-container {
    position: relative;
    width: 900px;
    height: 600px;
    margin: 1% auto;
    background: rgba(3, 3, 3, 0.6);
    border-radius: 20%;
    background: rgb(2,0,36);
    background: linear-gradient(128deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9) 42%, rgb(0, 132, 255) 100%);
    padding: 30px 10px;
}

img {
    display: flex;
    position: relative;
    padding: 10px 0;
    width: 780px;
    height: 400px;
    object-fit: contain;
    border-radius: 20%;
    border: 5px solid black;
    cursor: pointer;
    margin: auto;
    background: rgba(3, 3, 3, 0.6);
}

.help-text{
    position: relative;
    text-align: center;
    color: #dddddd;
    background: rgba(0, 0, 0, 0);
    margin: auto;
}

.image-container h4{
    margin: 5px auto;
}

.url-container{
    position: relative;
    width: 60%;
    height: 20%;
    margin: 1% auto;
    background: rgba(3, 3, 3, 0.0);
    border-radius: 20%;
    padding: 5px;
}

#url-field{
    width: 70%;
    height: 25px;
    margin: 1% auto;
    display: flex;
    background: rgba(3, 3, 3, 0.6);
    color: #dddddd;
    border-radius: 10%;
    padding: 5px;
}

.url-button{
    width: 70%;
    height: 30px;
    margin: 1% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(3, 3, 3, 0.6);
    color: #dddddd;
    border-radius: 10%;
    padding: 5px;
    cursor: pointer;
}

/***********************************/
/*              Title              */
/***********************************/

.title-container{
    background: rgba(3, 3, 3, 0.6);
    width: 40%;
    margin: 0 auto;
    padding: 1%;
    border-radius: 20%;
}

.main-title{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0);
}

/***********************************/
/*             Question            */
/***********************************/

.question-container{
    width: 60%;
    height: 20%;
    margin: 1% auto;
    background: rgba(3, 3, 3, 0.6);
    border-radius: 20%;
    padding: 5px;
    background: rgb(2,0,36);
    background: linear-gradient(128deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9) 42%, rgb(0, 132, 255) 100%);
}

.question-title{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0);
}

#question-input{
    width: 70%;
    height: 40%;
    margin: 1% auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(3, 3, 3, 0.6);
    color: #dddddd;
    border-radius: 10%;
    padding: 5px;
}

.question-button{
    width: 70%;
    height: 15%;
    margin: 1% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(3, 3, 3, 0.6);
    color: #dddddd;
    border-radius: 10%;
    padding: 5px;
    cursor: pointer;
}

/***********************************/
/*              Answer             */
/***********************************/

.answer-container{
    width: 60%;
    height: 12%;
    margin: 1% auto;
    background: rgba(3, 3, 3, 0.6);
    border-radius: 20%;
    padding: 5px;
    background: rgb(2,0,36);
    background: linear-gradient(128deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9) 42%, rgb(0, 132, 255) 100%);
}

.answer-title{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0);
}

#answer-textarea{
    width: 70%;
    height: 50%;
    margin: 1% auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(3, 3, 3, 0.6);
    color: #dddddd;
    border-radius: 10%;
    padding: 5px;
    cursor: default;
}